html {
    font-family: 'Poppins', sans-serif;
}

main {
    background-image: url('../css/img/white-swirl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
}

h1 {
    font-weight: 900;
    font-size: 800%;
    color: #2a2a2a;
    margin: 0 auto;
    text-align: center;
}

p, a {
    font-weight: 400;
    font-size: 18px;
    color: #2a2a2a;
    text-align: center;
    text-decoration: none;
}

/* Styling tasks Page */
#tasks {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

#tasks td, #tasks th {
    border: 2px solid #fafafa;
    padding: 10px;
}

#tasks th {
    padding: 10px;
    background-color: #2a2a2a;
    color: #fafafa;
    font-weight: 400;
}

#tasks tr:nth-child(odd) {
    background-color: #2a2a2a60;
}

#tasks tr:nth-child(even) {
    background-color: #fafafa60;
}

#tasks tr {
    color: #2a2a2a;
}

label {
    display: block; 
    width: 120px; 
    float: left;
}

fieldset { 
    border: none; 
    padding: 5px; 
}

form {
    font-size: 18px;
    font-weight: 400;
    border: 2px #2a2a2a solid;
    padding: 20px 50px 20px 50px;
}

input {
    font-size: 18px;
    width: 500px;
    height: 20px;
}

select {
    font-size: 18px;
}
/* End Styling Form */

/* Styling Button and Links */
button {
    display: block;
    margin: 0 auto;
    background-color:#fafafa;
    padding: 10px;
    border: #2a2a2a solid 2px;
    font-size: 18px;
}

button:hover {
    background-color: #2a2a2a;
    color: #fafafa;
}

.save-btn:hover {
    background-color: #2a2a2a;
    color: #fafafa;
}

.ad-link:hover {
    text-decoration: underline;
    color:#2a2a2a;
}

.nw-course-link:hover {
    text-decoration: underline;
    color:#2a2a2a;
}

.return-link:hover {
    text-decoration: underline;
    color:#2a2a2a;
}

.st-link:hover {
    text-decoration: underline;
}


.nw-task-link:hover {
    text-decoration: underline;
}

/* End Styling Button and Links */

/* Styling Header */
header {
    display: flex;
    align-items: center;
    height: 80px;
}

header div:nth-child(1) {
    height: 50px;
    margin-left: 15px;
}

header div:nth-child(1) a{
    height: 100%;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    font-size: 1.3em;
}

header nav {
    line-height: 50px;
    display: flex;
    background-color: #2a2a2a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

.right-links {
    width: 100%;
    height: 50px;
    color: #fafafa;
    list-style: none;

}

.right-links li {
    float: right;
    margin-block-end: 0;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.right-links li:nth-child(1) a {
    margin: 0 auto;
    background-color:#2a2a2a;
    padding: 10px;
    border: #fafafa solid 2px;
    font-size: 18px;
    color: #fafafa;
}

.right-links li:nth-child(1) a:hover {
    text-decoration: underline;
}

.right-links li:nth-child(2) a {
    margin: 0 auto;
    background-color:#fafafa;
    padding: 10px;
    font-size: 18px;
    color: #2a2a2a;
}

.right-links li:nth-child(2) a:hover {
    text-decoration: underline;
}

.right-links li:nth-child(3) a {
    padding: 10px;
    font-size: 18px;
    color: #fafafa;
}

.right-links li:nth-child(3) a:hover {
    text-decoration: underline;
}


/* .registr {
    margin: 0 auto;
    background-color:#2a2a2a;
    padding: 10px;
    border: #fafafa solid 2px;
    font-size: 18px;
}

.login {
    margin: 0 auto;
    background-color:#2a2a2a;
    padding: 10px;
    border: #fafafa solid 2px;
    font-size: 18px;
} */

/* Styling footer */
footer {
    display: flex;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2a2a2a;
    color: #fafafa;
    justify-content: center;
    align-items: center;
}